<!DOCTYPE html>
<html lang="en-US">
<head>
  <%- include('../partials/head') %>
</head>
<body>
<section class="page-header">
  <h1 class="project-name"><%= site.title %></h1>
  <h2 class="project-tagline"><%= site.description %></h2>
  <a href="<%= site.basePath %>/" class="btn">Home</a>
  <a href="<%= site.basePath %>/create-blog" class="btn">Create Blog</a>
  <a href="https://github.com/daoducanhc" class="btn">GitHub</a>
  <a href="<%= site.basePath %>/graph-neuron-network" class="btn">Graph Neuron Network</a>
</section>

<section class="main-content">
  <%- body %>

  <footer class="site-footer">
    <span class="site-footer-credits"><a href="https://github.com/daoducanhc">GitHub</a>.</span>
  </footer>
</section>
</body>
</html>
